<div class="sidebar-inner c-overflow scrollbar-style">
  <ul class="main-menu">
    <ng-container *ngFor="let section of sideMenuList">
      <li class="menu-segment-title pointer" (click)="section.collapsed = !section.collapsed">
        {{ section.placeholder | translate }}
        <ul class="actions">
          <li>
            <a [ngClass]="{ 'collapse-toggled': section.collapsed }">
              <mat-icon class="grey-icon">expand_less</mat-icon>
            </a>
          </li>
        </ul>
      </li>
  
      <ng-container *ngIf="!section.collapsed">
        <ng-container *ngFor="let submodule of section.subModule">
          <li *ngIf="submodule.link" class="ripple" [ngClass]="{'active' : submodule.link === path }" [id]="submodule.image" (click)="navigateTo(submodule.link)">
            <a>
              <img>
              <span class="menu-link-title">{{ submodule.placeholder | translate }}</span>
            </a>
          </li>

          <ng-container *ngIf="!submodule.link">
            <li class="ripple" (click)="submodule.collapsed = !submodule.collapsed" [id]="submodule.image">
              <a class="sub-category-title">
                <img>
                <div class="sub-category-title-holder">
                  <span class="menu-link-title">{{ submodule.placeholder | translate }}</span>
                  <a [ngClass]="{ 'collapse-toggled': submodule.collapsed }">
                    <mat-icon class="grey-icon">expand_less</mat-icon>
                  </a>
                </div>
              </a>
            </li>

            <ng-container *ngIf="!submodule.collapsed">
              <li *ngFor="let subM of submodule.subModulesOfSubObj" class="ripple" [ngClass]="{'active' : subM.link === path }" (click)="navigateTo(subM.link)"
                    id="categories-sidebar-img">
                  <a>
                    <span class="menu-link-title">{{ subM.placeholder | translate }}</span>
                  </a>
              </li>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ul>
</div>