<ul class="header-inner clearfix">

  <li id="menu-trigger" (click)="toggleSidebar()" [ngClass]="{ 'open': sidebarActive }">
    <div class="line-wrap">
      <div class="line top"></div>
      <div class="line center"></div>
      <div class="line bottom"></div>
    </div>
  </li>

  <li class="hidden-xs hidden-sm logo-container">
    <a href="https://intelisale.com" target="_blank" class="">
      <img [attr.src]="'assets/img/logo/' + environment.app_skin + '/horizontal-white.svg'"
        alt="{{environment.app_branding}}">
    </a>
  </li>

  <li class="visible-sm logo-container">
    <a href="https://intelisale.com" target="_blank" class="">
      <img [attr.src]="'assets/img/logo/' + environment.app_skin + '/logo.svg'"
        alt="{{environment.app_branding}}">
    </a>
  </li>

  <li class="pull-right">
    <ul class="top-menu">
      <li class="nohover">
        <a>
          <img alt="" class="lv-img-sm user-img" [src]="getImageUrl(currentUser?.userName)"
            (error)="imageError($event, 'assets/img/avatar.png')">
          <span class="tm-label">{{currentUser?.fullName}}</span>
        </a>
      </li>

      <li matTooltip="{{ 'userApp' | translate }}" [matTooltipPosition]="'above'">
        <a href="{{ environment.slApp }}" target="_blank" class="p-t-5">
          <div id="sales-leader-icon"></div>
        </a>
      </li>

      <li class="">
        <a (click)="logoutClicked()" class="p-t-5">
          <mat-icon>power_settings_new</mat-icon>
        </a>
      </li>

    </ul>
  </li>
</ul>

<div id="top-search-wrap">
  <div class="tsw-inner ">
    <input type="text" [placeholder]="'listViewSearchPlaceholder' | translate" class="lvhs-input" autocomplete="off">
    <mat-icon id="top-search-action">search</mat-icon>
  </div>
  <mat-icon class="top-search-close" (click)="closeSearch()">close</mat-icon>
</div>
